@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

 @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 750px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84, 60, 100%), hsl(164, 79, 71));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}

.prr {
  background-color: #071c39;
  position: absolute;
  inset: 0; 
  align-items: center;
  overflow: hidden;
}

/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.5s ease-out;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}





@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #002b36;
    top: 10%;
    left: 37%;
    animation-duration: 72s;
    animation-delay: -54s;
    transform-origin: 20vw 10vh;
    box-shadow: 40vmin 0 5.083070347323973vmin currentColor;
}
.background span:nth-child(1) {
    color: #002b36;
    top: 70%;
    left: 68%;
    animation-duration: 117s;
    animation-delay: -105s;
    transform-origin: -10vw 25vh;
    box-shadow: 40vmin 0 5.770523973232901vmin currentColor;
}
.background span:nth-child(2) {
    color: #613583;
    top: 81%;
    left: 18%;
    animation-duration: 102s;
    animation-delay: -54s;
    transform-origin: 16vw 5vh;
    box-shadow: 40vmin 0 5.324371386591357vmin currentColor;
}
.background span:nth-child(3) {
    color: #241f31;
    top: 95%;
    left: 23%;
    animation-duration: 102s;
    animation-delay: -104s;
    transform-origin: 3vw 1vh;
    box-shadow: -40vmin 0 5.03854230419983vmin currentColor;
}
.background span:nth-child(4) {
    color: #613583;
    top: 13%;
    left: 93%;
    animation-duration: 13s;
    animation-delay: -102s;
    transform-origin: 10vw -10vh;
    box-shadow: -40vmin 0 5.090005971349453vmin currentColor;
}
.background span:nth-child(5) {
    color: #613583;
    top: 74%;
    left: 74%;
    animation-duration: 25s;
    animation-delay: -3s;
    transform-origin: 3vw -19vh;
    box-shadow: -40vmin 0 5.074674027849961vmin currentColor;
}
.background span:nth-child(6) {
    color: #613583;
    top: 79%;
    left: 21%;
    animation-duration: 96s;
    animation-delay: -65s;
    transform-origin: 5vw -24vh;
    box-shadow: -40vmin 0 5.525239721186744vmin currentColor;
}
.background span:nth-child(7) {
    color: #241f31;
    top: 94%;
    left: 96%;
    animation-duration: 143s;
    animation-delay: -15s;
    transform-origin: -19vw 3vh;
    box-shadow: 40vmin 0 5.591194805744962vmin currentColor;
}
.background span:nth-child(8) {
    color: #241f31;
    top: 58%;
    left: 85%;
    animation-duration: 119s;
    animation-delay: -74s;
    transform-origin: 14vw -4vh;
    box-shadow: -40vmin 0 5.483839543151701vmin currentColor;
}
.background span:nth-child(9) {
    color: #613583;
    top: 58%;
    left: 14%;
    animation-duration: 143s;
    animation-delay: -107s;
    transform-origin: 0vw 7vh;
    box-shadow: -40vmin 0 5.87367666987431vmin currentColor;
}
.background span:nth-child(10) {
    color: #613583;
    top: 62%;
    left: 67%;
    animation-duration: 145s;
    animation-delay: -116s;
    transform-origin: 3vw 22vh;
    box-shadow: 40vmin 0 5.762886123946864vmin currentColor;
}
.background span:nth-child(11) {
    color: #002b36;
    top: 64%;
    left: 51%;
    animation-duration: 14s;
    animation-delay: -84s;
    transform-origin: 2vw 4vh;
    box-shadow: 40vmin 0 5.743255149190527vmin currentColor;
}
.background span:nth-child(12) {
    color: #613583;
    top: 36%;
    left: 90%;
    animation-duration: 97s;
    animation-delay: -1s;
    transform-origin: 14vw 22vh;
    box-shadow: 40vmin 0 5.191551426919185vmin currentColor;
}
.background span:nth-child(13) {
    color: #241f31;
    top: 4%;
    left: 17%;
    animation-duration: 36s;
    animation-delay: -103s;
    transform-origin: 4vw 6vh;
    box-shadow: 40vmin 0 5.473998351684621vmin currentColor;
}
.background span:nth-child(14) {
    color: #613583;
    top: 46%;
    left: 72%;
    animation-duration: 31s;
    animation-delay: -141s;
    transform-origin: -5vw 15vh;
    box-shadow: -40vmin 0 5.8667574210629025vmin currentColor;
}
.background span:nth-child(15) {
    color: #613583;
    top: 14%;
    left: 14%;
    animation-duration: 80s;
    animation-delay: -164s;
    transform-origin: -2vw -7vh;
    box-shadow: -40vmin 0 5.829609486493851vmin currentColor;
}
.background span:nth-child(16) {
    color: #241f31;
    top: 31%;
    left: 6%;
    animation-duration: 185s;
    animation-delay: -151s;
    transform-origin: 25vw 14vh;
    box-shadow: -40vmin 0 5.77128474937226vmin currentColor;
}
.background span:nth-child(17) {
    color: #241f31;
    top: 35%;
    left: 12%;
    animation-duration: 111s;
    animation-delay: -164s;
    transform-origin: -21vw 14vh;
    box-shadow: 40vmin 0 5.709711965145959vmin currentColor;
}
.background span:nth-child(18) {
    color: #002b36;
    top: 58%;
    left: 25%;
    animation-duration: 159s;
    animation-delay: -18s;
    transform-origin: 12vw -20vh;
    box-shadow: -40vmin 0 5.315291221938391vmin currentColor;
}
.background span:nth-child(19) {
    color: #613583;
    top: 96%;
    left: 60%;
    animation-duration: 156s;
    animation-delay: -54s;
    transform-origin: 0vw 12vh;
    box-shadow: -40vmin 0 5.2101336095345285vmin currentColor;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}